@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Open+Sans:wght@300;400&display=swap');

// font-family: 'Gilda Display', serif;
// font-family: 'Open Sans', sans-serif;



@font-face {
	font-family: 'Bodoni';
	src: url('/fonts/Bodoni\ SvtyTwo\ SC\ ITC\ TT\ Book.eot SvtyTwo SC ITC TT Book.eot');
	src: local('☺'), url('/fonts/Bodoni\ SvtyTwo\ SC\ ITC\ TT\ Book.woff SvtyTwo SC ITC TT Book.woff') format('woff'), url('/fonts/Bodoni\ SvtyTwo\ SC\ ITC\ TT\ Book.ttf SvtyTwo SC ITC TT Book.ttf') format('truetype'), url('/fonts/Bodoni\ SvtyTwo\ SC\ ITC\ TT\ Book.svg SvtyTwo SC ITC TT Book.svg') format('svg');
	font-weight: 400;
    font-style: normal;
    font-display: swap;
}

